<div class="tutors-pending">
	<%= form_tag approve_tutors_path, remote: true do %>

	  <span><%= submit_tag 'Oppdatter', class: 'approve-button' %></span>
	  <br><br>


	  <div>
	    <div style="overflow: scroll; width: 100%;">
	      <table class="table table-hover">
	        <thead class="styled-thead">
	          <tr>
	            <th>Godkend</th>
	            <th>Slett</th>
	            <th>Billede</th>
	            <th>Navn</th>
	            <th>Kallenavn</th>
	            <th>Email</th>
	            <th>Tlf</th>
	            <th>Kategorier</th>
	            <th>Anonym</th>
	            <th>Bedrift</th>
	          </tr>
	        </thead>
          <tbody id="draggable" class="tutors_pending_approval_list">
            <%= render partial: 'tutors_pending_approval_list',locals: {tutors_pendings: @pending_tutors} %>
          </tbody>
	      </table>
	    </div>
	    <div class="paginate" style="font-size: 16px">
	      <%= paginate @pending_tutors %>
	    </div>
	  </div>
  <% end %>
</div>

