<br><br><br>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<h2>Velg dato</h2>
		<div class="date">
			<div class="field">

			  <%= form.text_field :start, style: 'width: 100%;' %><br><br>
				<%# <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime"> %>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">
		<h2>Velg tid</h2>
		<div class="time">

			<div class="ui-timepicker-wrapper ui-timepicker-positioned-top optional-custom-classname" tabindex="-1">
			  <ul class="ui-timepicker-list">
			    <li class="ui-timepicker-am">12:00</li>
			    <li class="ui-timepicker-am">12:05</li>
			    <li class="ui-timepicker-am">12:10</li>
			    <li class="ui-timepicker-am">12:15</li>
			    <li class="ui-timepicker-am">12:20</li>
			    <li class="ui-timepicker-am">12:25</li>
			    <li class="ui-timepicker-am">12:30</li>
			    <li class="ui-timepicker-am">12:35</li>
			    <li class="ui-timepicker-am">12:40</li>
			    <li class="ui-timepicker-am">12:45</li>
			    <li class="ui-timepicker-am">12:50</li>
			    <li class="ui-timepicker-am">12:55</li>
			    <li class="ui-timepicker-am">13:00</li>
			    <li class="ui-timepicker-am">13:05</li>
			    <li class="ui-timepicker-am">13:10</li>
			    <li class="ui-timepicker-am">13:15</li>
			    <li class="ui-timepicker-am">13:20</li>
			    <li class="ui-timepicker-am">13:25</li>
			    <li class="ui-timepicker-am">13:30</li>
			    <li class="ui-timepicker-am">13:35</li>
			  </ul>
			</div>
		</div>
	</div>
</div>

