<ul class="nav nav-tabs nav-justified settings-tabs" role="tablist">
  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#statistics" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down" style="color: #1c1c1c">Statistikk</span> </a> </li>
  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down" style="color: #1c1c1c">Profil</span></a> </li>
  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#active_hours" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down" style="color: #1c1c1c">Ledig</span></a> </li>
</ul>
<div class="tab-content">

  <div class="tab-pane active" id="statistics" role="tabpanel">
    <%= render('/settings/statistics') %>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
  	<%= render('/tutors/edit') %>
  </div>
  <div class="tab-pane" id="active_hours" role="tabpanel">
  	<%= render('/tutors/calendar') %>
  </div>
</div>
