<div class="container">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
      <div class="MultiCarousel-inner">
      	<% @tutors.each do |tutor| %>
          <div class="item">
              <div class="pad15">
                  <%= image_tag('/veileder.jpg', style: 'width: 100%;') %>
                  <%= tutor.first_name %> <%= tutor.last_name %>
                  <%= image_tag('/stars.png') %>
                <span class="text-muted" style="font-size: 12px;">(15)</span>
              </div>
          </div>
        <% end %>
      </div>
      <button class="btn leftLst"><</button>
      <button class="btn rightLst">></button>
    </div>
	</div>
</div>