<div class="card">
    <div class="card-body">
        <h4 class="card-title">Vertical Tab</h4>
        <div class="vtabs">
            <ul class="nav nav-tabs tabs-vertical" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home4" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Home</span> </a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile4" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Profile</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages4" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Messages</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home4" role="tabpanel">
                    <div class="p-20">
                        <h3>Best Clean Tab ever</h3>
                    </div>
                </div>
                <div class="tab-pane p-20" id="profile4" role="tabpanel">2</div>
                <div class="tab-pane p-20" id="messages4" role="tabpanel">3</div>
            </div>
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
      <h4 class="card-title">Kategorier</h4>
      <h6 class="card-subtitle">Velg en kategori</h6>
      <!-- Nav tabs -->
      <div class="vtabs">
        <ul class="nav nav-tabs tabs-vertical" role="tablist">
          <% @categories.each do |cat| %>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#<%= cat.id %>" role="tab">
                <span class="hidden-sm-up">
                  <i class="ti-home"></i>
                </span>
                <span class="hidden-xs-down">
                  <%= cat.name %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @categories.each do |cat| %>
            <div class="tab-pane active" id="<%= cat.id %>" role="tabpanel">
              <% cat.sub_categories.each do |sub_cat| %>
                <h3><%= sub_cat.name %></h3>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

