<span class="home">


	<div class="row">
		<div class="col-md-6 col-sm-6">
			<%= image_tag('/people.jpg', style: 'position: relative;', class: 'desktop', style: 'margin-top: 80px;') %>
			<%= image_tag('/people.jpg', class: 'mobile', style: 'margin-top: 100px;') %>
			<h2 style="position: absolute;top: 0px; right: 20px;">
				Er du i tvil?
				<br>
				Snakk med en rådgiver!
			</h2>
		</div>
		<div class="col-md-6 col-sm-6">
			<div style="width: 100%; margin-top: 20%;">
				<div class="landing-side-text">
					157 RÅDGIVERE
				</div>


				<div class="landing-side-text">
					MANGE KATEGORIER
				</div>


				<div class="landing-side-text">
					SE HVEM SOM ER ONLINE
				</div>
			</div>
		</div>
	</div>


	<span class="row">
		<div class="col-md-4 col-sm-4">
			<div class="box">
				<h2>HJEN OG FAMILIE</h2>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="box">
				<h2>ERNÆRING</h2>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="box">
				<h2>HELSE</h2>
			</div>
		</div>
	</span>

	<div class="container">
		<span style="background: #fff;" class="landing-tutors">
	    <div class="row">
        <% @sub_categories.each do |sub_cat| %>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="card">
              <%= image_tag('/veileder.jpg', style: 'width: 100%;') %>
              <div class="card-body">

                <span class="info-box"><strong>Fornavn Etternavn</strong></span>
                <div class="info-box-display">I'm a block element.</div>
                <br>
                <%= image_tag('/stars.png') %>
                <span class="text-muted" style="font-size: 12px;">(15)</span>
              
              </div>
            </div>
          </div>
        <% end %>
	    </div>
		</span>
	</div>
</span>