<span class="home">

	<span class="row header">
		<div class="col-md-6 col-sm-6">
			<%= image_tag('/people.png', class: 'desktop', style: 'position: relative;margin-top: 80px;') %>
			<%= image_tag('/people.png', class: 'mobile', style: 'margin-top: 100px;') %>
			<h2>
				Er du i tvil?
				<br>
				Snakk med en rådgiver!
			</h2>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="side-headers">
				<div class="landing-side-text">
					157 RÅDGIVERE
				</div>


				<div class="landing-side-text">
					MANGE KATEGORIER
				</div>


				<div class="landing-side-text">
					SE HVEM SOM ER ONLINE
				</div>

				<div class="landing-side-text">
					SØK OM JOBB
				</div>
			</div>
		</div>
	</span>

	<%= render('/pages/landing_page_modal') %>


	<%= render('/pages/landing_page_carousel') %>

</span>