<span class="row all_categories container">
    <div style="overflow: auto;height: 450px;padding: 10px;">
        <% @categories.each do |cat| %>
            <%= link_to category_path(cat) do %>
              <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="category_mobile"">
                        <i class="fa fa-user-o" aria-hidden="true"></i><br>
                        <span class="cat-title"> <%= cat.name %></span>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</span>




