<div class="thank-you-pending-page">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			Takk for din registrering. 游뗵<br><br>
			Vennligst vent p친 godkjenning fra administratorer.<br><br>
			Det er ogs친 en lenke for 친 laste ned kontrakten, som du b칮r signere.<br><br>

			Du kan ogs친 download kontrakt h칠r.
		</div>
</div>
