<p><%= @email %> har registrert seg for å bli med på nettstedet ditt!</p>
  <p>En administrator kan godkjenne denne registreringen ved å besøke nettstedet og redigere brukeren</p>


Download kontrakt hér!