<p><%= @email %> har registrert seg for å bli med på nettstedet ditt!</p>
  <p>En administrator kan godkjenne denne registreringen ved å besøke http://veiledning.herokuapp.com//venter-pa-godkjenning og godkjenne brukeren</p>


