<div id="messages">
	<%= render @messages %>
</div>

<form>
	<label>Sig noget</label><br>
	<input type="text" data-behavior="room_speaker">
</form>


<% @tutors.each do |tutor| %>
	    <% if tutor.online %>
          <%= image_tag "green-dot.png", id: "tutor-#{tutor.id}-status", size:"30x20", class: "active" %>
        <% else %>
          <%= image_tag "grey-dot.png", id: "tutor-#{tutor.id}-status",size:"20x20", class: "inactive" %>
        <% end %>
	<%= tutor.email %> <br>
<% end %><%#= current_tutor.appear %>


