.form-card {
	background: #e3e2e2;
	padding: 15px;
	border-radius: 5px;
	input, .bootstrap-select, .button-blue {
		width: 100% !important;
		border: none;
		border-radius: 5px;
		padding: 7px;
		font-size: 16px;
	}
	input[type="checkbox"] {
		width: 3% !important;
	}
	.btn-primary {
		background-color: #584908;
		border-color: #1c1c1c;
		color: #fff;
		.fa {
			color: #fff;
		}
	}
	.select2-container {
		width: 100% !important;
	}
}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: #081758 !important;
	}
