.navbar-default {
	background: none !important;
	border: none !important;
	padding: 10px;
	.logo {
		padding-right: 30px;
		@media only screen and (min-width: 400px) {
			width: 220px;
		}
		@media only screen and (max-width: 400px) {
			width: 150px;
		}
	}
}
.navbar-default .navbar-collapse {
	z-index: 1;
	margin-left: -25px;
	margin-right: -25px !important;
}
.navbar-nav {
	padding: 15px;
	margin: 0;
	li div {
		text-decoration: none !important;
		font-size: 20px;
		background: #B2B6B7;
		color: #081758 !important;
		padding: 11px 20px 11px 20px;
		border-radius: 3px;
		transition: .2s;
		&:hover {
		  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
		  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
		  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
		}
		a {
			color: #081758;
			&:hover {
				  text-decoration: none;
			}
		}}
}
.navbar-nav > li {
	padding-right: 10px;
	font-size: 10px;
}

.navbar-nav > li > a {
	padding: 0 !important;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-default .navbar-toggle {
	border: none;
	@media only screen and (max-width: 400px) {
		float: left
	}
}


.user-image-toggle {
	width: 40px;
	border-radius: 90px;
	float: right;
	cursor: pointer;
}

.call_button {
	font-size: 20px;
	padding: 5px 20px 6px 14px !important;
	border-radius: 3px;
	border: 1px solid #B2B6B7;
	color: #081758 !important;
	background: none !important;
	transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
	a {
		color: #081758;
		&:hover {
			  text-decoration: none;
		}
	}
}
.mobile-nav {
	li {
	margin-bottom: 10px;
	}
}

#navbar-desktop {
	li {
		margin-bottom: 10px;
	}
}