.home {
	.col-sm-4, .col-md-4 {
		.box {
			height: 100px;
			background: #B2B6B7;
			border-radius: 20px;
			margin: 8px;
			margin-bottom: 22px;
			padding: 17px;
			-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			h2 {
				margin-bottom: 8px;
				text-align: center;
				color: #081758;
			}
			p {
				text-align: center !important;
				font-size: 14px;
			}
		}
	}
	.pad15 {
		margin: 10px;
		padding: 10px;
		background: #e7e6e6;
		border-radius: 5px;
		img {
			width: 100%;
			margin-bottom: 10px;
		}
		a {
			font-size: 18px;
		}
	}
	.col-md-3, .col-sm-4, .col-xs-6 {
		padding-left: 0;
		padding-right: 0;
	}
	hr {
		border-color: #ccc
	}
		.col-md-6, .col-sm-6 {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	.header {
		h2 {
			position: absolute;
			top: 0px;
			right: 20px;
			font-size: 34px;
		}
		img {
			width: 100%;
		}
	}
	.side-headers {
		width: 100%; margin-top: 20%;
	}
	.landing-side-text {
	  font-family: 'Agency FB' !important;
		background: #081758;
		color: #fff;
		border-radius: 14px 0 0px 14px;
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
		@media only screen and (min-width: 400px) {
			margin-left: -10%;
			padding: 6px 40px 6px 70px;
		}
		@media only screen and (max-width: 400px) {
			margin-left: 16%;
			padding: 6px 40px 6px 40px;
		}
	}
	.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
	}
}

.landing-text {
	margin: 50px;
	font-size: 20px;
	font-weight: 500;
}

.modal-dialog {
	width: 100% !important;
}
.modal-content {
	padding: 30px;
}
.modal.fade {
  left: 100%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.fade.in {
  left: 20%;
}