.review-comment {
	margin: 10px 0 10px 0;
}

.review-rating, .average-review-rating, #rating-form {
	width: 120px !important;
}

.average-review-count {
	padding-top: 4px;
}

.review-header {
	display: inline-flex;
	color: #777;
	p {
		margin-left: 20px;
		margin-top: 2px;
	}
}