body {
	font-family: poppins !important;
}

@import url(http://allfont.net/allfont.css?fonts=agency-fb-bold);

h1, h2, h3, h4, h5, h6 {
	color: #081758 !important; 
  font-family: 'Agency FB Bold', arial !important;
  font-weight: 900 !important;
  margin: 0;
}

.home_list {
	background: #fff;
	padding: 2rem;
	margin: 10px;
	padding-bottom: 20px;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
	  box-shadow:         0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08);
	}
	img {
		width: 100%;
	}
}


.navbar-default {
	background: none !important;
	border: none !important;
	padding: 10px;
	.logo {
		padding-right: 30px;
	}
}
.navbar-nav {
	padding: 15px;
}
.navbar-nav > li {
	padding-right: 10px;
	font-size: 10px;
}

.navbar-nav > li > a {
	padding: 0 !important;
}

.category {
	padding: 10px;
	border-radius: 5px;
	background: #17a3d1;
	color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
  -moz-box-shadow:    0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  box-shadow:         0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  background: #3d8c81;
	}
}
.category_mobile {
	padding: 20px;
	text-align: center;
	height: 100px;
	border-radius: 15px;
	background: #E3E8F0;
	cursor: pointer;
  transition: .2s;
	&:hover {
		i {
			color: #fff;
		}
		.cat-title {
				color: #fff;
		}
	  background: #081758;
	  color: #fff;
	}
}


.sub_category_mobile {
	padding: 20px;
	text-align: center;
	height: 100px;
	border-radius: 15px;
	background: #fff;
	cursor: pointer;
  transition: .2s;
	&:hover {
		i {
			color: #fff;
		}
		.cat-title {
				color: #fff;
		}
	  background: #b1bfd5;
	  color: #fff;
	}
}
.cat-title {
	color: #929292;
	font-size: 12px;
}

.fa {
 margin-bottom: 10px;
 font-size: 26px !important;
 color: #444;
}

.all_categories {
	.col-xs-6, .col-sm-6, .col-md-6 {
		padding: 5px;
	}
}

.sub_category {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background: #58a1c9;
	color: #fff;
	margin-bottom: 10px;
	margin-left: 50px;
	cursor: pointer;
  -moz-box-shadow:    0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  box-shadow:         0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}
.card {
	margin: 10px;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}

.card-body {
	padding: 10px;
	background: #f3f2f2;
}

.button {
  font-family: 'Agency FB Bold', arial !important;
	text-decoration: none !important;
	font-size: 20px;
	background: #B2B6B7;
	color: #081758 !important;
	padding: 7px 25px 7px 25px;
	border-radius: 3px;
	transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}
.info-box-display {
	 display: none;
}
.info-box {
	cursor: pointer;
}
.info-box:hover + .info-box-display {
    display: block;
    position: absolute;
    background: #f3f2f2;
    width: 200px; 
}

.background {
	background-image: url(/bg.jpeg);
}


@media only screen and (min-width: 400px) {
  .mobile {
	  display: none;
  }
}
@media only screen and (max-width: 400px) {
  .desktop {
    display: none;
  }
}



.user-image-toggle {
	width: 40px;
	border-radius: 90px;
	float: right;
	cursor: pointer;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-default .navbar-toggle {
	border: none;
}

.all_categories_container {
	margin-top: 30px;
	padding: 10px;
	background: #E3E8F0;
	border-radius: 20px;
	margin: 10px;
}
.categories_header_text {
	text-align: center;
	font-weight: 600;
	padding-top: 20px;
}

.landing-text {
	margin: 50px;
	font-size: 20px;
	font-weight: 500;
}
.landing-side-text {
  font-family: 'Agency FB Bold', arial !important;
	background: #081758;
	color: #fff;
	border-radius: 14px 0 0px 14px;
	padding: 6px 40px 6px 40px;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
	@media only screen and (min-width: 400px) {
		margin-left: 20%;
	}
	@media only screen and (max-width: 400px) {
		margin-left: 30%;
	}
	.fa {
		 color: #fff;
		 font-size: 14px !important;
		 margin-left: 10px;
		 margin-right: 10px;
	}
}

.landing-tutors {
	.col-xs-6 {
		padding: 5px;
	}
}


.home {
	padding-left: 20px;
	padding-right: 20px;
	.col-sm-4, .col-md-4 {
		.box {
			height: 100px;
			background: #B2B6B7;
			border-radius: 20px;
			margin: 10px;
			padding: 17px;
			-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
			h2 {
				margin-bottom: 8px;
				text-align: center;
				color: #081758;
			}
			p {
				text-align: center !important;
				font-size: 14px;
			}
		}
	}
	.col-md-3, .col-sm-4, .col-xs-6 {
		padding-left: 0;
		padding-right: 0;
	}
	hr {
		border-color: #ccc
	}
}

.footer {
	text-align: center;
	padding: 10px;
}

.mobile {
	.navbar-collapse {
		position: absolute;
		width: 100%;
		background: #fff;
	}
}
.desktop {
	.navbar-collapse {
		.navbar-left {
			a {
				color: #1c1c1c !important;
			}
		}
	}
}

.sub_category_page {
	.col-xs-6 {
		padding: 0;
	}
}