body {
  font-family: 'Agency FB' !important;
}

h1, h2, h3, h5, h6 {
	color: #081758 !important; 
  font-family: 'Agency FB' !important;
  font-weight: 900 !important;
  margin: 0;
}

a {
	color: #081758 !important;
}

.category {
	padding: 10px;
	border-radius: 5px;
	background: #17a3d1;
	color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
  -moz-box-shadow:    0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  box-shadow:         0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  background: #3d8c81;
	}
}
.category_mobile {
	padding: 20px;
	text-align: center;
	height: 100px;
	border-radius: 15px;
	background: #E3E8F0;
	cursor: pointer;
  transition: .2s;
	&:hover {
		i {
			color: #fff;
		}
		.cat-title {
				color: #fff;
		}
	  background: #081758;
	  color: #fff;
	}
}

.cat-title {
	color: #929292;
	font-size: 12px;
}

.category_mobile {
	.fa {
	 margin-bottom: 10px;
	 font-size: 26px !important;
	 color: #444;
	}
}
.all_categories {
	.col-xs-6, .col-sm-6, .col-md-6 {
		padding: 5px;
	}
}
.card {
	margin: 10px;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}

.card-body {
	padding: 10px;
	background: #f3f2f2;
}

.button {
	text-decoration: none !important;
	font-size: 20px;
	background: #B2B6B7;
	color: #081758 !important;
	padding: 11px 25px 11px 25px;
	border-radius: 3px;
	transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
	a {
		color: #081758;
		&:hover {
			  text-decoration: none;
		}
	}
}

.button-blue {
	text-decoration: none !important;
	font-size: 20px;
	background: #081758;
	color: #fff !important;
	padding: 7px 25px 7px 25px;
	border-radius: 3px;
	transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  background: #202e68;
	}
}

.info-box-display {
	 display: none;
}
.info-box {
	cursor: pointer;
	color: #584908;
}
.info-box:hover + .info-box-display {
    display: block;
    position: absolute;
    background: #584908;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.background {
	background-image: url(/bg.jpeg);
}


@media only screen and (min-width: 400px) {
  .mobile {
	  display: none;
  }
}
@media only screen and (max-width: 400px) {
  .desktop {
    display: none;
  }
}


.all_categories_container {
	margin-top: 30px;
	padding: 10px;
	background: #E3E8F0;
	border-radius: 20px;
	margin: 10px;
}


.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.regular-checkbox:active, .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}
.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #009C4D;
}

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

.file_field {
	background: #1c1c1c;
	padding: 10px;
}
