@font-face {font-family: "Agency FB";
    src: url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.eot");
    src: url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/596e78c7d8f0d85090a9af4e8e19076c.svg#Agency FB") format("svg");
}

body {
  font-family: 'Agency FB' !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #081758 !important; 
  font-family: 'Agency FB' !important;
  font-weight: 900 !important;
  margin: 0;
}

.category {
	padding: 10px;
	border-radius: 5px;
	background: #17a3d1;
	color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
  -moz-box-shadow:    0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  box-shadow:         0 5px 10px 0 rgba(35, 80, 74,.11),0 3px 5px 0 rgba(35, 80, 74,.08);
  transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  background: #3d8c81;
	}
}
.category_mobile {
	padding: 20px;
	text-align: center;
	height: 100px;
	border-radius: 15px;
	background: #E3E8F0;
	cursor: pointer;
  transition: .2s;
	&:hover {
		i {
			color: #fff;
		}
		.cat-title {
				color: #fff;
		}
	  background: #081758;
	  color: #fff;
	}
}

.cat-title {
	color: #929292;
	font-size: 12px;
}

.fa {
 margin-bottom: 10px;
 font-size: 26px !important;
 color: #444;
}

.all_categories {
	.col-xs-6, .col-sm-6, .col-md-6 {
		padding: 5px;
	}
}
.card {
	margin: 10px;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}

.card-body {
	padding: 10px;
	background: #f3f2f2;
}

.button {
  font-family: 'Agency FB' !important;
	text-decoration: none !important;
	font-size: 20px;
	background: #B2B6B7;
	color: #081758 !important;
	padding: 7px 25px 7px 25px;
	border-radius: 3px;
	transition: .2s;
	&:hover {
	  -moz-box-shadow:    0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  -webkit-box-shadow: 0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	  box-shadow:         0 15px 30px 0 rgba(35, 80, 74,.11),0 5px 15px 0 rgba(35, 80, 74,.08);
	}
}
.info-box-display {
	 display: none;
}
.info-box {
	cursor: pointer;
}
.info-box:hover + .info-box-display {
    display: block;
    position: absolute;
    background: #f3f2f2;
    width: 200px; 
}

.background {
	background-image: url(/bg.jpeg);
}


@media only screen and (min-width: 400px) {
  .mobile {
	  display: none;
  }
}
@media only screen and (max-width: 400px) {
  .desktop {
    display: none;
  }
}


.all_categories_container {
	margin-top: 30px;
	padding: 10px;
	background: #E3E8F0;
	border-radius: 20px;
	margin: 10px;
}


