<%= form_for ([@tutor, @tutor.reviews.build]) do |f| %>
  <span style="display: inline-flex;">
    <label style="padding-right: 10px;">Legg til anmeldelse:</label>
    <div id="rating-form"></div>
    <% if current_account %>
        <%= f.submit 'Legg til anmeldelse', class: 'button-blue' %>
    <% end %>
  </span><br><br>
  <% if current_account %><%= f.text_area :comment, style: 'width: 100%' %><% else %><div style="background: #f3f2f2;width: 100%;padding: 30px;">Du må være <%= link_to 'logget inn', new_account_session_path %> for å legge til en anmeldelse.</div><% end %>
<% end %><br>
