<%= form_for ([@tutor, @tutor.reviews.build]) do |f| %>
  <span style="display: inline-flex;">
    <label style="padding-right: 10px;">Vurdering:</label>
    <div id="rating-form"></div>
    <%= f.submit 'Legg til anmeldelse', class: 'btn btn-primary' %>
  </span><br><br>
  <%= f.text_area :comment, style: 'width: 100%' %>
<% end %><br>