<div class="review-rating" data-score="<%= review.rating %>"></div>

<div class="review-comment"><%= review.comment %></div>

<% if account_signed_in? && review.account_id == current_account.id %>
	<%= link_to 'Slet', tutor_review_path(review.tutor_id, review), method: :delete, data: { confirm: "Er du sikker?" } %>
<% end %>

<hr>



<script type="text/javascript" charset="utf-8">
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });

</script>