<footer class="footer">
	<div class="row">
		<div class="col-md-4 col-sm-4">
		</div>
		<div class="col-md-4 col-sm-4">
		  <%= link_to 'Rådgiver logg inn', raadgiver_logg_inn_path unless tutor_signed_in? %>
		  <hr>
		  © 2019 SnakkMed.no | Viachat
		</div>
		<div class="col-md-4 col-sm-4"><br>
			<%= image_tag('/vipps.png') %> <%= image_tag('/stripe.png', style: 'margin-left: 30px;') %>
		</div>
	</div>
</footer>