<table class="table">
	<thead>
		<tr>
			<th>Ordre #</th>
			<th>Rådgiver</th>
			<th>Dato & tid</th>
		</tr>
	</thead>
	<tbody>
		<% @bookings.each do |booking| %>
			<tr>
				<td>dsd</td>
				<td>dsrsg</td>
				<td>dsrsg</td>
			</tr>
		<% end %>
	</tbody>
</table>

